body{
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width:960px;
    font-size: 18px;
}
header{
    background-color: #ebebeb;
}
nav{
    background-color: #ebebeb;
}
section{
    background-color: #ebebeb;
}
aside{
    background-color: #ebebeb;
}
footer{
    background-color: #ebebeb;
}


.box1{
    background-color: #eee;
    text-align: center;
    color: #777;
    width: 62%;
    position: relative;
    left: 100px; 
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-bottom: 10px;
}
section{
    background-color: #eee;
    width: 35%;
    text-align: center;
    position: relative;
    left: 100px; 
    height: 30%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    color:#777;
}
article{
    width: 97%;
    background-color: #777;
    text-align: center;
    position: relative;
    top: 10px;
    left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    color:#eee;
}
div{
    display: block;
    clear: both;
    overflow: auto;
}
p{
    background-color: #eee;
    text-align: center;
    color: #777;
    width: 97%;
    position: relative; 
    padding-top: 10px;
    padding-bottom: 10px; 
    left: 10px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: -4px;
}
aside{
    background-color: #eee;
    width: 26%;
    text-align: center;
    position: relative;
    left: 113px; 
    float: left;
    color: #777;
    padding-top: 20px;
}
footer {
    overflow: auto;
    background-color: #eee;
    text-align: center;
    color: #777;
    width: 80%;
    position: relative;
    left: 100px; 
    padding-top: 30px;
    padding-bottom: 30px; 
    margin-bottom: 10px;
}
.filler{
    display: block;
    overflow: auto;
}